@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.4em;

}

h1, h2, h3, h4, h5,h6{
    font-family: 'Poppins', sans-serif;
}
a, a:hover{
    text-decoration: none;
}


/*E-School Starts here*/
.header-section{
    width:100%;
    background: #F0FFF0;
}

.header-section bg-light{
    background: transparent !important;
}


.header-section .navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 0 15px;
}

.header-section  .navbar-nav .btn-success {
    color: #fff;
    background-color: #21B573;
    border-color: #21B573;
    border-radius: 40px;
    padding: 8px 35px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 0 15px; 
}
.header-section  .navbar-nav .btn-success:hover, .header-section  .navbar-nav .btn-success:focus{
    color: #21B573;
    background-color: transparent;
    border-color: #21B573;
}

.header-section  .navbar-light .navbar-nav .nav-link.active{
    
    border: 1px solid black;
}

.banner{
    width: 100%;
    padding: 80px 0px;
}

.banner h5{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #FD511A;
}
.banner h1{
    font-style: normal;
    font-size: 48px;
    line-height: 70px;
    font-weight: 700;
    color: #000;
}

.banner h1 span{
    color: #21B573;
}
.banner p{
    font-style: normal;
    font-size: 16px;
    line-height: 36px;
    font-weight: 400;
    color: #000;
}

.banner .btn-success{
    color: #fff;
    background-color: #21B573;
    border-color: #21B573;
    border-radius: 40px;
    padding: 8px 35px;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 0 0px;
}

.banner .btn-success:hover, .banner .btn-success:focus{
    color: #21B573;
    background-color: transparent;
    border-color: #21B573;
}
.feature{
    width:100%;
    padding:80px 0;

}
.feature .inner_feature{
    width: 100%;
    padding: 40px 25px;
    background: #F8FFFB;
    text-align: center;
    border-radius: 10px;
}
.feature .inner_feature:hover{
  
    background: #FFFFFF;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.feature .inner_feature img{
    width:85px;
    height:85px;
    margin: 0 0 20px; 
}

.feature .inner_feature h4{
font-size: 24px;
font-weight: 600;
line-height: 34px;
color: #000;
margin-bottom: 0;
}
.feature .inner_feature p{
    font-size: 16px;
font-weight: 600;
line-height: 26px;
color: #585859;
margin-bottom: 0;
}

.course-section{
    width: 100%;
    padding: 80px 0;
}

.course-section .title{
    font-style: normal;
    font-size: 48px;
    line-height: 70px;
    font-weight: 700;
    color:#413960;
    text-align: center;
    margin: 0 0 80px;
}

.course-section .card{
    padding: 20px 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    border:0 ;
}

.course-section .card .mainimg{


    border-radius: 11px;
}


.course-section .card-body{
    padding: 20px 0px;
}

.course-section .card-body .btn-success{

    color: #fff;
    background-color: #21B573;
    border-color: #21B573;
    border-radius: 40px;
    padding: 8px 35px;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0 10px 0px;
}

.course-section .card-body .btn-success:hover, .course-section .card-body .btn-success:focus{
    color: #21B573;
    background-color: transparent;
    border-color: #21B573;
}
.course-section .card-body .card-title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #413960;
}


.course-section .card-body .card-text{

    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #585859;
}

.course-section .card-body .date{
    width: 100%;
    margin:35px 0 0;
}

.course-section .card-body .date p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: #585859;
}

.course-section .card-body .seat{
    width: 100%;
    margin:35px 0 0;
}

.course-section .card-body .seat p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: #585859;
}

.testimonial{
    width: 100%;
    padding: 80px 0;
}

.testimonial .title{
    font-style: normal;
    font-size: 48px;
    line-height: 70px;
    font-weight: 700;
    color:#413960;
    text-align: center;
    margin: 0 0 80px;
}
.testimonial img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin: 15px 0px 0;
    align-content: center;
}
.testimonial p{
    font-style: normal;
    font-size: 16px;
    line-height: 36px;
    font-weight: 400;
    color: #000;
    margin: 15px 0px 0;
}

.footer-section{
    width:100%;
    padding:80px 0 20px;
    background: #282531;
}
.footer-section p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFF;
}
.widget{
    width: 100%;
    margin: 0px 0px 80px;
}
.widget h5{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.widget ul{
    padding: 0;
}
.widget ul li{
    list-style:  none;
}
.widget ul li a{
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 0 10px;
}
.copyright
{
   font-size: 14px;
   line-height: 24px;
    color: #CDCDCD;
    text-align: center;
}

